<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop app: shopping lists</title>
    <link rel="stylesheet" href="/style.css" />
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /* Make an HTTP request using the attribute value as the file name: */
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4) {
                            if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                            if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                            /* Remove the attribute, and call this function once more: */
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /* Exit the function: */
                    return;
                }
            }
        }
    </script>

</head>
<style>
    .Bd{
        border: solid 1px black;
    }

    .Bdc\(red\){
        border-color: red !important;
    }

    .P\(0\){
        padding: 0;
    }
    .P\(10px\){
        padding: 10px;
    }

    .C\(red\){
        color: red;
    }
</style>
</head>
<body>


<div class="container">
    <div class = "top-menu">
        <div w3-include-html="/layout/header.html"></div>
    </div>
    <div class="left-panel">
        <div w3-include-html="/layout/leftPanel.html"></div>

    </div>
    <div class="main">
        <h2>Nowa Lista zakupów</h2>

        <!--/*@thymesVar id="newList" type="com.github.slisowski.Spring_shop.model.ShoppingList"*/-->
    <form action="#" method="post" th:action="@{'/lists/addProducts/'+${newList.id}}" th:object="${newList}">
        <table class="table table-striped" th:object="${newList}">
            <tr>
                <th  th:text="${newList.name}"></th>

                </tr>

            <!--/*@thymesVar id="products" type="java.util.List<com.github.slisowski.Spring_shop.model.Product>"*/-->
            <select id="id", name="id">
                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>

            <!--/*@thymesVar id="productsList" type="java.util.List<com.github.slisowski.Spring_shop.model.ShoppingList>"*/-->
           <dl th:each="product:${productsList}">

               <dt th:text="${product.name}"></dt>

           </dl>







            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Wyczyść</button>
            </p>



        </table>

    </form>

    </div>
</div>



<script>
    includeHTML();
</script>


</body>
</html>