.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-gap: 10px;
}
.top-menu{
    grid-column: 2/6;
    grid-row: 1/2;
    background-color: whitesmoke;
    border: 2px black;
    border-radius: 5px;
}
.left-panel{
    grid-column: 2/3;
    grid-row: 2/5;
    background-color: whitesmoke;
    border: 2px black;
    border-radius: 5px;
    
}

.main{
    grid-column: 3/6;
    grid-row: 2/5;
    border:2px black;
    border-radius:5px;
    background-color: antiquewhite;

}

.main ul{

    list-style-type: none;

}

a{
    color:black;	
    font-size: large;
}

