.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;
}
.top-menu{
    grid-column: 2/6;
    background-color: blue;
    border: 2px black;
    border-radius: 5px;
}
.left-panel{
    grid-column: 2/3;
    grid-row: 2/5;
    background-color: chocolate;
    border: 2px black;
    border-radius: 5px;
    
}

.main{
    grid-column: 3/6;
    grid-row: 2/5;
    border:2px black;
    border-radius:5px;
    background-color: blue;

}

a{
    color:black;	
    font-size: large;
}

