<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop app: shopping lists</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="currentList" type="com.github.slisowski.Spring_shop.model.projection.ListReadModel"*/-->
<p th:text="${currentList.dateCreated}"/>
<!--/*@thymesVar id="products" type=java.util.List<"com.github.slisowski.Spring_shop.model.projection.ListProductReadModel">*/-->
<ul th:each="product : ${products}">
    <li>
        <input type = "checkbox" name="bought" th:checked="${product.bought}">
        <label th:text="${product.getName()}">

        </label>





    </li>


</ul>
</body>
</html>